<h1>ACTIVITY 1: PALMER PENGUINS DATA ANALYTICS PROJECT</h1>

---

<h3>Analyst: Jamaica Palas</h3>

In [4]:
pip install numpy

Requirement already satisfied: numpy in c:\users\it-lab3-pc09\appdata\local\programs\python\python311\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\it-lab3-pc09\appdata\local\programs\python\python311\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\it-lab3-pc09\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\it-lab3-pc09\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\it-lab3-pc09\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\it-lab3-pc09\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\it-lab3-pc09\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

<h1>Converting Datasets to Dataframes</h1>

---

<h1>Requirements</h1>

- DataFrame Name
- File Path

In [7]:
penguins = pd.read_csv("Datasets\\penguins.csv")

In [5]:
penguins

<h1>DESCRIPTIVE ANALYTICS</h1>

In [6]:
penguins.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

<h1>Checking for Null Values</h1>

In [7]:
penguins.isnull()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False,False

<h1>Summarizing Null Values</h1>

In [8]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [9]:
penguins['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [10]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

<h1>Filtering a Datasets</h1>

In [11]:
penguins[penguins['species'] == 'Adelie']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [12]:
penguins[penguins['species'] == 'Chinstrap']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,277,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,280,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [13]:
penguins[penguins['species'] == 'Gentoo']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,153,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,154,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,155,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,156,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,157,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,273,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,274,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,275,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,276,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

<h1>Assigning variable Name</h1>

In [14]:
adelie_df = penguins[penguins['species'] == 'Adelie']
adelie_df

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [15]:
chinstrap_df = penguins[penguins['species'] == 'Chinstrap']
chinstrap_df

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,277,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,280,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [19]:
gentoo_df = penguins[penguins['species'] == 'Gentoo']
gentoo_df

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,153,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,154,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,155,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,156,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,157,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,273,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,274,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,275,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,276,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [20]:
chinstrap = penguins[(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 1000)]

In [21]:
chinstrap

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,277,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,280,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [22]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [23]:
penguins['species'] = penguins['species'].astype('category')
penguins['island'] = penguins['island'].astype('category')
penguins['year'] = penguins['year'].astype('category')
penguins['sex'] = penguins['sex'].astype('category')

In [24]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    category
 2   island             344 non-null    category
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    category
 8   year               344 non-null    category
dtypes: category(4), float64(4), int64(1)
memory usage: 15.4 KB

<h1>FILLING UP NULL VALUES</h1>

In [25]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [26]:
penguins['bill_length_mm'].mean()

np.float64(43.9219298245614)

In [27]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

In [28]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [29]:
penguins['bill_depth_mm'].mean()

np.float64(17.151169590643274)

In [30]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())

In [31]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [32]:
penguins['flipper_length_mm'].mean()

np.float64(200.91520467836258)

In [33]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())

In [34]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [35]:
penguins['body_mass_g'].mean()

np.float64(4201.754385964912)

In [36]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())

In [37]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

In [38]:
penguins['sex'].mode()

0    male
Name: sex, dtype: category
Categories (2, object): ['female', 'male']

In [39]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])

In [40]:
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [41]:
penguins.columns

Index(['rowid', 'species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [42]:
penguins['mass_kg'] = np.round(penguins['body_mass_g'] / 1000, 1)
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.0
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.4
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.8
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.1
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.8

<h1>Questions</h1>

---

<h1>Question 1: What is the average body mass of penguins for each species?</h1>

In [55]:
penguins.groupby("species")["body_mass_g"].mean()

species
Adelie       3703.958910
Chinstrap    3733.088235
Gentoo       5068.965761
Name: body_mass_g, dtype: float64

<h3>Insight: Gentoo penguins have the highest average body mass, while Adelie penguins are the lightest. This difference shows how body size can vary greatly across species.</h3>

---

<h1>Question 2: What is the median flipper length for each species?</h1>

In [57]:
penguins.groupby("species")["flipper_length_mm"].median()

species
Adelie       190.0
Chinstrap    196.0
Gentoo       216.0
Name: flipper_length_mm, dtype: float64

<h3>Insight: Gentoo penguins have the longest flippers. Adelie penguins have the shortest ones.</h3>

---

<h1>Question 3: What is the maximum bill length per species?</h1>

In [58]:
penguins.groupby("species")["bill_length_mm"].max()

species
Adelie       46.0
Chinstrap    58.0
Gentoo       59.6
Name: bill_length_mm, dtype: float64

<h3>Insight: Gentoo penguins have the longest bills. This may help them access different types of food.</h3>

---

<h1>Question 4: How many penguins are recorded for each island?</h1>

In [10]:
island_count = penguins["island"].value_counts()

In [11]:
island_count

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [ ]:
plt.bar(island_count.index, island_count.values, )

<h3>Insight: Most penguins are found on Biscoe Island. Dream Island has the least.</h3>

---

<h1>Question 5: What is the minimum body mass of male and female penguins?.</h1>

In [62]:
penguins.groupby("sex")["body_mass_g"].min()

sex
female    2700.0
male      2975.0
Name: body_mass_g, dtype: float64

<h3>Insight: Males are heavier than females even at the smallest weight. This shows male penguins are usually bigger.</h3>

---

<h1>Question 6: What is the average bill depth per island?</h1>

In [63]:
penguins.groupby("island")["bill_depth_mm"].mean()

island
Biscoe       15.882447
Dream        18.344355
Torgersen    18.404830
Name: bill_depth_mm, dtype: float64

<h3>Insight: Penguins in Dream Island have the deepest bills. This shows some differences between islands.</h3>

---

<h1>Question 7: What is the correlation between bill length and bill depth?</h1>

In [64]:
penguins[["bill_length_mm", "bill_depth_mm"]].corr()

                bill_length_mm  bill_depth_mm
bill_length_mm        1.000000      -0.235053
bill_depth_mm        -0.235053       1.000000

<h3>Insight: The correlation between bill length and depth is weak. This means they don’t increase together in a strong way.</h3>

---

<h1>Question 8: How strongly are body mass and flipper length related in penguins?</h1>

In [65]:
penguins[["body_mass_g", "flipper_length_mm"]].corr()

                   body_mass_g  flipper_length_mm
body_mass_g           1.000000           0.871202
flipper_length_mm     0.871202           1.000000

<h3>Insight: The correlation is strongly positive, meaning heavier penguins usually have longer flippers. This is logical since bigger bodies often need stronger and longer flippers for swimming.</h3>

---

<h1>Question 9: What is the minimum bill depth by species, sex, and year?</h1>

In [75]:
penguins.groupby(["species", "sex", "year"])["bill_depth_mm"].min()

species    sex     year
Adelie     female  2007    16.7
                   2008    16.1
                   2009    15.5
           male    2007    17.1
                   2008    17.6
                   2009    17.0
Chinstrap  female  2007    16.6
                   2008    16.6
                   2009    16.4
           male    2007    17.5
                   2008    18.6
                   2009    18.2
Gentoo     female  2007    13.1
                   2008    13.3
                   2009    13.7
           male    2007    14.3
                   2008    14.1
                   2009    13.8
Name: bill_depth_mm, dtype: float64

<h3> Insight: Male penguins often keep deeper bills than females in the same year. Adelie females show the smallest bill depth values.</h3>

---

<h1>Question 10: How does body mass relate to bill length?</h1>

In [76]:
mass_bill_corr = penguins["body_mass_g"].corr(penguins["bill_length_mm"])

In [77]:
mass_bill_corr

np.float64(0.5951098244376305)

<h3> Insight: There is a small positive correlation. Penguins with longer bills sometimes weigh more.</h3>

---

<h1>Question 11: How are bill length and year correlated?</h1>

In [78]:
bill_year_corr = penguins["bill_length_mm"].corr(penguins["year"])

In [79]:
bill_year_corr

np.float64(0.05430640983647094)

<h3>Insight: The relationship is almost zero. Bill length is not related to the year of data collection.</h3>

---

<h1>Question 12: What is the correlation between flipper length and bill measurements (length and depth)?</h3>

In [80]:
flipper_bill_length_corr = penguins["flipper_length_mm"].corr(penguins["bill_length_mm"])

In [81]:
flipper_bill_depth_corr = penguins["flipper_length_mm"].corr(penguins["bill_depth_mm"])

In [82]:
flipper_bill_length_corr, flipper_bill_depth_corr

(np.float64(0.6561813407464278), np.float64(-0.5838512164654123))

<h3>Insight: Flipper length has more correlation with bill length than bill depth. This shows bill depth is not linked with flipper size.</h3>

<h1>Question 13: What is the average body mass grouped by species, island, sex and year?</h1>

In [6]:
penguins.groupby(["species","island","sex","year"])["body_mass_g"].mean()

species    island     sex     year
Adelie     Biscoe     female  2007    3470.000000
                              2008    3244.444444
                              2009    3446.875000
                      male    2007    3770.000000
                              2008    4011.111111
                              2009    4268.750000
           Dream      female  2007    3269.444444
                              2008    3412.500000
                              2009    3357.500000
                      male    2007    4102.500000
                              2008    4100.000000
                              2009    3945.000000
           Torgersen  female  2007    3475.000000
                              2008    3518.750000
                              2009    3193.750000
                      male    2007    4139.285714
                              2008    4193.750000
                              2009    3784.375000
Chinstrap  Dream      female  2007    3569.230769
                              2008    3472.222222
                              2009    3522.916667
                      male    2007    3819.230769
                              2008    4127.777778
                              2009    3927.083333
Gentoo     Biscoe     female  2007    4618.750000
                              2008    4627.272727
                              2009    4786.250000
                      male    2007    5552.941176
                              2008    5410.869565
                              2009    5510.714286
Name: body_mass_g, dtype: float64

<h3>Insight: Male Gentoo penguins in Biscoe island stay the heaviest every year. Female Adelie penguins in Torgersen are the smallest group.</h3>

---

<h1>Question 14: How many penguins of each sex were recorded in every year?</h1>

In [6]:
penguins.groupby(["year","sex"]).size()

year  sex
2007  female    51
      male      52
2008  female    56
      male      57
2009  female    58
      male      59
dtype: int64

<h3>Insights: The counts of male and female penguins looks almost balance in every year.</h3>

---

<h1>Question 15: Which year has the heaviest average penguin body mass?</h3>

In [7]:
heaviest_year = penguins.groupby("year")["body_mass_g"].mean().idxmax()

In [8]:
heaviest_year

np.int64(2008)

---

<h3>Insight: This year had penguins with the highest body weight. Maybe conditions were better that year.</h3>